name: Process Building Blocks

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    uses: opengeospatial/bblocks-postprocess/.github/workflows/process-bblocks.yml@main
    with:
      identifier-prefix: "ogc.ubcp."
      items-dir: "_sources"
      base-url: "https://maytetoscano.github.io/bblocks-uav-biodiversity/"
    permissions:
      contents: write
      pages: write
      id-token: write
